<ion-header class="header-color">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Upload Digital Copy </ion-title>
  </ion-toolbar>
  <!-- segment header button  -->
  <ion-segment [(ngModel)]="segments">
    <!-- <ion-segment-button value="segmentOne" checked> {{ '1' }}</ion-segment-button>
    <ion-segment-button value="segmentTwo">{{ '2' }} </ion-segment-button>
    <ion-segment-button value="segmentThree" checked>{{ '3' }}</ion-segment-button>
    <ion-segment-button value="segmentFour">{{ '4' }} </ion-segment-button>
    <ion-segment-button value="segmentFive" checked>{{ '5' }}</ion-segment-button>
    <ion-segment-button value="segmentSix">{{ '6' }} </ion-segment-button>
    <ion-segment-button value="segmentSeven" checked>{{ '7' }}</ion-segment-button>
    <ion-segment-button value="segmentEight">{{ '8' }} </ion-segment-button> -->
  </ion-segment>
</ion-header>

<ion-content no-padding>
  <!-- name of segment to access segment on runtime -->
  <div [ngSwitch]="segments">
    <!-- segment One -->
    <div *ngSwitchCase="'segmentOne'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label>ID Proof </ion-label>
            <ion-select value="notifications" interface="action-sheet" [(ngModel)]="idproof">
              <ion-select-option *ngFor="let sub of subcategory" value="{{sub.subcat_id+sub.subcat_name}}">
                {{sub.subcat_name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div (click)="openCam($event)">
            <img *ngIf="!isimage" src="assets/images/upload_camera.png" />
            <img *ngIf="isimage" src="{{image}}">
          </div>
          <br>
          <br>
          <div (click)="openFile($event)" *ngIf="isFolder">
            <img src="assets/images/upload_doc.png" />

          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <!-- <ion-icon  (click)="nextSlide()" name="arrow-round-forward"></ion-icon> -->
          <ion-button color="primary" (click)="uploadFile()">Upload
          </ion-button>
          <!-- <ion-button *ngIf="visiable" routerLink="/home" routerDirection="forward" fill="clear">Done</ion-button> -->
        </ion-col>
      </ion-row>
    </div>
    <!-- segment two -->
    <div *ngSwitchCase="'segmentTwo'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">
          <ion-item>
            <ion-label>Address Proof </ion-label>
            <ion-select value="notifications" interface="action-sheet" [(ngModel)]="addressproof">
              <ion-select-option *ngFor="let sub of subcategory" value="{{sub.subcat_id+sub.subcat_name}}">
                {{sub.subcat_name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div (click)="openCam1($event)">
            <img *ngIf="!isimage1" src="assets/images/upload_doc.png" />
            <img *ngIf="isimage1" src="{{image1}}">
          </div>
          <div (click)="openFile($event)" *ngIf="isFolder">
            <img src="assets/images/upload_doc.png" />

          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end" >
          <!-- <ion-icon  (click)="nextSlide()" name="arrow-round-forward"></ion-icon> -->
          <ion-button color="primary" (click)="uploadFile()">Upload
          </ion-button>
          <!-- <ion-button *ngIf="visiable" routerLink="/home" routerDirection="forward" fill="clear">Done</ion-button> -->
        </ion-col>
      </ion-row>
    </div>
    <!-- segment three -->
    <div *ngSwitchCase="'segmentThree'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label>Own House Proof </ion-label>

          </ion-item>

          <div (click)="openCam_Own($event)">
            <img *ngIf="!isimage_Own" src="assets/images/upload_camera.png" />
            <img *ngIf="isimage_Own" src="{{image_Own}}">
          </div>
          <br>
          <br>
          <div (click)="openFile($event)" *ngIf="isFolder">
            <img src="assets/images/upload_doc.png" />

          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <ion-button color="primary" (click)="uploadFile()">Upload
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'segmentFour'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label>Company ID Card </ion-label>

          </ion-item>

          <div (click)="openCam_Company($event)">
            <img *ngIf="!isimage_Company" src="assets/images/upload_camera.png" />
            <img *ngIf="isimage_Company" src="{{image_Company}}">
          </div>
          <br>
          <br>
          <div (click)="openFile($event)" *ngIf="isFolder">
            <img src="assets/images/upload_doc.png" />

          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <ion-button color="primary" (click)="uploadFile()">Upload
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'segmentFive'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label>Job Experience Certificates </ion-label>

          </ion-item>

          <div (click)="openCam_Job($event)">
            <img *ngIf="!isimage_Job" src="assets/images/upload_camera.png" />
            <img *ngIf="isimage_Job" src="{{image_Job}}">
          </div>
          <br>
          <br>
          <div (click)="openFile($event)" *ngIf="isFolder">
            <img src="assets/images/upload_doc.png" />

          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <ion-button color="primary" (click)="uploadFile()">Upload
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'segmentSix'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label> Latest 3 month Pay Slips </ion-label>

          </ion-item>

          <div (click)="openCam_Pay($event)">
            <img *ngIf="!isimage_Pay" src="assets/images/upload_camera.png" />
            <img *ngIf="isimage_Pay" src="{{image_Pay}}">
          </div>
          <br>
          <br>
          <div (click)="openFile($event)" *ngIf="isFolder">
            <img src="assets/images/upload_doc.png" />

          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <ion-button color="primary" (click)="uploadFile()">Upload
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'segmentSeven'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label>Salary Credited Bank Statement </ion-label>

          </ion-item>

          <div (click)="presentAlertPrompt()">
            <ion-button color="success">+ ADD BANK </ion-button>
          </div>
          <br>
          <br>
          <div *ngIf="bankStatements.length!=0">
            <ion-list>
              <ion-list-header>
                Bank Statements
              </ion-list-header>

              <ion-item *ngFor="let p of bankStatements" >
                <!-- <ion-avatar slot="start">
                  <img src="./avatar-finn.png">
                </ion-avatar> -->
                <ion-label >
                  <h2>{{p.bankname}}</h2>
                  <h3>From: {{p.from}} End :{{p.to}}</h3>
                  <!-- <p>Listen, I've had a pretty messed up day...</p> -->
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="8" class="ion-align-self-start">
          <div>
            <ion-button color="primary" *ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <ion-button color="primary" (click)="nextSlide()">Next
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'segmentEight'">
      <ion-row>
        <ion-col size="12" style="text-align:center;">

          <ion-item>
            <ion-label>Existing  EMI  Statements </ion-label>

          </ion-item>

          <div (click)="loanstatementsAdd()">
            <ion-button color="success">+ ADD LOAN </ion-button>
          </div>
          <br>
          <br>
          <div *ngIf="emiStatements.length!=0">
            <ion-list>
              <ion-list-header>
                Loan Statements
              </ion-list-header>

              <ion-item *ngFor="let p of emiStatements" >
                <!-- <ion-avatar slot="start">
                  <img src="./avatar-finn.png">
                </ion-avatar> -->
                <ion-label >
                  <h2>{{p.banker}}   {{p.facility}}</h2>
                  <h3>Tenure: {{p.tenure}} End :{{p.to}}</h3>
                  <p>{{p.amount}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

        </ion-col>
      </ion-row>
      <ion-row style="position:fixed; bottom:30px;width:100%">
        <ion-col size="5" class="ion-align-self-start">
          <div>
            <ion-button color="primary"*ngIf="isSkipbutton" (click)="nextSlide()">Skip
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="4" class="ion-align-self-end">
          <ion-button color="primary" (click)="finalStageSlide()">Save Application
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>