<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back" ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title >  QUESTIONER  </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- form with input text and submit buttons -->


    <!-- <ion-button (click)="openCam()" >Take Photo</ion-button>
    <ion-button (click)="uploadFile()" >Upload</ion-button>
    <img src="{{image}}">
    <br>
    <br> -->

    <form [formGroup]="registerpersonalform2" (ngSubmit)="onSubmit()">
        <!-- <ion-row>
            <ion-col size="12">
                <div>
                    <img src="assets/images/avatar.png" />
                </div>
                <div>
                    <ion-avatar>
                        <ion-icon [ngStyle]="{color:itemColor}" (click)="onFileSelect($event)" name="image"></ion-icon>
                    </ion-avatar>
                </div>
            </ion-col>[(ngModel)]="ownhouse" 
        </ion-row> -->
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-radio-group>
                        <ion-col>
                            <ion-item no-lines id="question">
                                1. No of Years in the Same Line: Enter Years?
                            </ion-item>
                        </ion-col>    
                    </ion-radio-group>
                    <ion-textarea placeholder = "Enter Your years Here..." formControlName = "years"></ion-textarea>                   
                    <ion-radio-group formControlName="ownhouse">
                        <ion-col>
                            <ion-item no-lines>
                                2. Do you Have Own House Anywhere in India ?
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>yes</ion-label>
                                <ion-radio value="yes"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>no</ion-label>
                                <ion-radio value="no"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-radio-group>
                       <ion-textarea placeholder = "Enter Your Text Here..." formControlName = "ownhouse1" *ngIf="registerpersonalform2.value.ownhouse==='yes'"></ion-textarea>

                    <ion-radio-group formControlName = "cibil">
                        <ion-col>
                            <ion-item no-lines id="question">
                                3. Do You Have Any Cibil Derog's ?
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>yes</ion-label>
                                <ion-radio value="yes"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>no</ion-label>
                                <ion-radio value="no"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-radio-group>
                    <ion-textarea placeholder = "Enter Your Text Here..." formControlName = "cibil1" *ngIf="registerpersonalform2.value.cibil==='yes'"></ion-textarea>

                    <ion-radio-group formControlName = "apply">
                        <ion-col>
                            <ion-item no-lines id="question">
                                4. Did you Applied Anywhere in Past 6 Months ?
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>yes</ion-label>
                                <ion-radio value="yes"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>no</ion-label>
                                <ion-radio value="no"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-radio-group>
                    <ion-textarea placeholder = "Enter Your Text Here..." formControlName = "apply1" *ngIf="registerpersonalform2.value.apply==='yes'"></ion-textarea>
                    
                    <ion-radio-group>
                        <ion-col>
                            <ion-item no-lines id="question">
                                5. Your Primary Banker ?
                            </ion-item>
                        </ion-col>    
                    </ion-radio-group>
                    <ion-textarea placeholder = "Enter Your Text Here..." formControlName = "banker"></ion-textarea>

                    <ion-radio-group formControlName = "cheque">
                        <ion-col>
                            <ion-item no-lines id="question">
                                6. Is there any Cheque Returns in Past 6 months?
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>yes</ion-label>
                                <ion-radio value="yes"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>no</ion-label>
                                <ion-radio value="no"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-radio-group>
                    <ion-textarea placeholder = "Enter Your Text Here..." formControlName = "cheque1" *ngIf="registerpersonalform2.value.cheque==='yes'"></ion-textarea>

                    <ion-radio-group formControlName ="covid">
                        <ion-col>
                            <ion-item no-lines id="question">
                                7. Are You Applied EMI moratorium During the Period of Covid -19 ?
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>yes</ion-label>
                                <ion-radio value="yes"></ion-radio>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item no-lines>
                                <ion-label>no</ion-label>
                                <ion-radio value="no"></ion-radio>
                            </ion-item>
                        </ion-col>
                    </ion-radio-group>
                    <ion-textarea placeholder = "Enter Your Text Here..." formControlName = "covid1" *ngIf="registerpersonalform2.value.covid==='yes'"></ion-textarea>
                   
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" type="submit" (click)="onToast()">Save</ion-button>
            </ion-col>
        </ion-row>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
</ion-content>