ion-content{
  ion-grid{
    padding: 0 0 16px 0;
    margin-bottom:12px;
    border-bottom:1px solid #ddd; 
    ion-text{
      h2{
        margin-top:0;
      }
    }
    ion-img{
      margin-bottom:16px;
    }
    ion-button{
      margin-left:0;
      margin-right:0;
      margin-bottom: 16px;
    }

    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}