<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defalutHref="home">Back</ion-back-button>
    </ion-buttons>
    <ion-title>success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-img src="./assets/icon/thumb.png"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="text">
      <h1>Congratulations</h1>
      <h4>You`re Loan Appiled Successfully</h4>
    </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" defaultHref="/home">
        Get Back To Home
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
