<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Apply A Loan</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- form with input text and submit buttons -->


    <!-- <ion-button (click)="openCam()" >Take Photo</ion-button>
    <ion-button (click)="uploadFile()" >Upload</ion-button>
    <img src="{{image}}">
    <br>
    <br> -->
    <ion-card class="card">
        <ion-card-header>
            <h2 style="text-align: center;">Apply A Loan</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col class="header-content" size="6">
                    <h3>Welcome</h3><h4>to Emi Value</h4>
                </ion-col>
                <ion-col size="6">
                    <ion-img class="logo-img" src="/assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <h4>Create a loan with loan type and profile type</h4>
            </ion-row>
            <br>
            <form [formGroup]="personalloanform" (ngSubmit)="onSubmit()">
                <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item row>
                                <ion-label col="4"> Type Of Loan</ion-label>
                                <ion-select placeholder="personal Loan" formControlName="personalloan" col="8">
                                    <ion-select-option value="personal_loan" selected> Personal Loan</ion-select-option>
                                    <ion-select-option value="business_loan"> Business Loan</ion-select-option>
                                    <ion-select-option value="martigage_loan"> Martigage Loan</ion-select-option>
                                    <ion-select-option value="home_loan"> Home Loan</ion-select-option>
                                    <ion-select-option value="vehicle_loan"> Vehicle Loan</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <br>
                            <br>
                            <ion-item>
                                <ion-label> Profile Type</ion-label>
                                <ion-select placeholder="Salaried" formControlName="salarised">
                                    <ion-select-option value="salaried" selected> Salaried</ion-select-option>
                                    <ion-select-option value="businessman"> Business Man</ion-select-option>
                                    <ion-select-option value="professional"> Professional</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <br>
                            <br>
                            <ion-item>
                                <ion-label> Customer Type</ion-label>
                                <ion-select placeholder="Salaried Individual" formControlName="salarised_individual">
                                    <ion-select-option value="salaried_individual" selected> Salaried Individual
                                    </ion-select-option>
                                    <ion-select-option value="salaried_professional"> Professional Salaried
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                            <br>
                            <br>
                            <!-- <ion-label>Looking Loan Amount</ion-label> -->
                            <ion-item>
                                <ion-input type="number" placeholder="Loan Amount" formControlName="loanamount"
                                    required>
                                </ion-input>
                            </ion-item>
                            <br>
                            <br>
                            <br>
                            <br>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <br>
                <br>
                <ion-row>
                    <ion-col size="12">
                        <ion-button expand="block"  type="submit">Save</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>