<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block" routerLink="/grid-subcategory" routerDirection="backward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Slider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <!-- single row contain single column due to size=4  -->
    <ion-row no-padding>
      <ion-col size="12" no-padding>
        <ion-slides pager="true">
          <ion-slide *ngFor="let item of items">
            <img src="{{item.img}}">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>