ion-content{
    ion-card{
        margin: 5px;
        img{
            border-bottom: solid lightgray;
            border-width: 0.5px;
        }
        p{
            font-size: 14px;
            margin-bottom: 0%;
            margin-top: 0%;
            padding-left: 10px;
        }
        ion-button{
            height: 20px;
        }
    }
}