
.content-info{
    // padding: 10px;
    margin: 15px;
}
.box{
    margin-top: 5px;
    border-width: 5px;
    border-style: dashed;
    text-align: center;
}
.icon{
    size: 20px;
    margin-top: 15px;
    align-items: center;
}
.title{
    border-width: 3px;
    border-style: solid;
    margin: 10px;
}