<ion-header>
    <ion-toolbar>

        <ion-title>Registration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- form with input text and submit buttons -->


    <!-- <ion-button (click)="openCam()" >Take Photo</ion-button>
    <ion-button (click)="uploadFile()" >Upload</ion-button>
    <img src="{{image}}">
    <br>
    <br> -->
    <ion-card class="card" >
        <ion-card-header>
            <h2 class="h2c" style="text-align: center;">Registration</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col class="header-content" size="6">
                    <h3 class="h3c">Welcome</h3>
                    <h4>to Emi Value</h4>
                </ion-col>
                <ion-col size="6">
                    <ion-img class="logo-img" src="/assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <h4>This is one time Registration/sign Up process. </h4>
            </ion-row>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- <ion-row>
            <ion-col size="12">
                <div>
                    <img src="assets/images/avatar.png" />
                </div>
                <div>
                    <ion-avatar>
                        <ion-icon [ngStyle]="{color:itemColor}" (click)="onFileSelect($event)" name="image"></ion-icon>
                    </ion-avatar>
                </div>
            </ion-col>
        </ion-row> -->
                <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item>
                                <ion-label position="floating">First Name</ion-label>
                                <ion-input type="text" class="formGroup" 
                                    formControlName="firstname" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!form.controls['firstname'].valid && form.controls['firstname'].touched">
                                    First
                                    Name Is Required</span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Last Name</ion-label>
                                <ion-input type="text" class="formGroup" 
                                    formControlName="lastname" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!form.controls['lastname'].valid && form.controls['lastname'].touched"> Last
                                    Name
                                    Is Required</span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input type="email" class="formGroup"  formControlName="email"
                                    required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!form.controls['email'].valid && form.controls['email'].touched"> Email Is
                                    Required</span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Mobile Number</ion-label>
                                <ion-input type="number" class="formGroup" 
                                    formControlName="mobile" required>
                                </ion-input>
                                <span class="error-msg" *ngFor="let error of error_messages.mobile">
                                    <span class="error-message"
                                        *ngIf="form.get('mobile').hasError(error.type) && (form.get('mobile').dirty || form.get('mobile').touched)">
                                        {{error.message}} </span>
                                </span>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Password</ion-label>
                                <ion-input type="password" class="formGroup" 
                                    formControlName="password" required
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                </ion-input>
                                <div *ngIf="submitted && f.password.errors">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>
                                <!-- <span class="error-msg" *ngFor="let error of error_messages.password">
                                <span class="error-message"
                                    *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched)">
                                    {{error.message}} </span>
                            </span> -->
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Confirm Password</ion-label>
                                <ion-input type="password" class="formGroup" 
                                    formControlName="confirmpassword" required
                                    [ngClass]="{'is-invalid': submitted && f.confirmpassword.errors }">
                                </ion-input>
                                <div *ngIf="submitted && f.confirmpassword.errors">
                                    <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmpassword.errors.missMatch">Passwords must match</div>
                                </div>
                                <!-- <span class="error-msg" *ngFor="let error of error_messages.confirmpassword">
                                <span class="error-message"
                                    *ngIf="form.get('confirmpassword').hasError(error.type) && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
                                    {{error.message}}
                                 </span>
                            </span>
                            <span class="error-msg"
                                *ngIf="!form.get('confirmpassword').errors && form.hasError('passwordNotMatch') && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
                                Password and Confirm Password fields should match
                        </span> -->
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p>Creating an account means you’re okay with our
                            <a>Term and Services</a>,
                            <a>Privacy Policy</a> and
                            <a>Refund Policy</a>
                        </p>
                      
                    </ion-col>
                    <ion-col size="12">
                        <ion-button expand="block" type="submit">Register</ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>