<ion-header>
    <ion-toolbar>
       
        <ion-title>Registration</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- form with input text and submit buttons -->


    <!-- <ion-button (click)="openCam()" >Take Photo</ion-button>
    <ion-button (click)="uploadFile()" >Upload</ion-button>
    <img src="{{image}}">
    <br>
    <br> -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <!-- <ion-row>
            <ion-col size="12">
                <div>
                    <img src="assets/images/avatar.png" />
                </div>
                <div>
                    <ion-avatar>
                        <ion-icon [ngStyle]="{color:itemColor}" (click)="onFileSelect($event)" name="image"></ion-icon>
                    </ion-avatar>
                </div>
            </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-item>
                        <ion-input type="text" class="formGroup" placeholder="First Name" formControlName="firstname"
                            required>
                        </ion-input>
                        <span class="error-msg" *ngIf="!form.controls['firstname'].valid && form.controls['firstname'].touched"> First
                            Name Is Required</span>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" class="formGroup" placeholder="Last Name" formControlName="lastname"
                            required>
                        </ion-input>
                        <span class="error-msg" *ngIf="!form.controls['lastname'].valid && form.controls['lastname'].touched"> Last Name
                            Is Required</span>
                    </ion-item>
                    <ion-item>
                        <ion-input type="email" class="formGroup" placeholder="Email" formControlName="email" required>
                        </ion-input>
                        <span class="error-msg" *ngIf="!form.controls['email'].valid && form.controls['email'].touched"> Email Is
                            Required</span>
                    </ion-item>
                    <ion-item>
                        <ion-input type="number" class="formGroup" placeholder="Mobile Number" formControlName="mobile"
                            required>
                        </ion-input>
                            <span  class="error-msg" *ngFor="let error of error_messages.mobile">
                                <span class="error-message"
                                    *ngIf="form.get('mobile').hasError(error.type) && (form.get('mobile').dirty || form.get('mobile').touched)">
                                    {{error.message}} </span>
                            </span>
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" class="formGroup" placeholder="Password" formControlName="password"
                            required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        </ion-input>
                        <div *ngIf="submitted && f.password.errors" >
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                            <!-- <span class="error-msg" *ngFor="let error of error_messages.password">
                                <span class="error-message"
                                    *ngIf="form.get('password').hasError(error.type) && (form.get('password').dirty || form.get('password').touched)">
                                    {{error.message}} </span>
                            </span> -->
                    </ion-item>

                    <ion-item>
                        <ion-input type="password" class="formGroup" placeholder="Confirm Password"
                            formControlName="confirmpassword" required [ngClass]="{'is-invalid': submitted && f.confirmpassword.errors }">
                        </ion-input>
                        <div *ngIf="submitted && f.confirmpassword.errors">
                            <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmpassword.errors.missMatch">Passwords must match</div>
                        </div>
                            <!-- <span class="error-msg" *ngFor="let error of error_messages.confirmpassword">
                                <span class="error-message"
                                    *ngIf="form.get('confirmpassword').hasError(error.type) && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
                                    {{error.message}}
                                 </span>
                            </span>
                            <span class="error-msg"
                                *ngIf="!form.get('confirmpassword').errors && form.hasError('passwordNotMatch') && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
                                Password and Confirm Password fields should match
                        </span> -->
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <p>Creating an account means you’re okay with our
                    <a>Term and Services</a>,
                    <a>Privacy Policy</a> and
                    <a>Refund Policy</a>
                </p>
                <p>
                    This is one time Registration/sign Up process. Please verify Your Mobile Number  with OTP here .
                </p>
            </ion-col>
            <ion-col size="12">
                <ion-button expand="block" type="submit">Register</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>