ion-header{
  ion-segment{
      --color-checked: white !important;
  }
  ion-title{
      color: blue;
  }
}
ion-content{
    ion-img{
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        opacity: 0.5;
    }
    ion-row{
      ion-col{
        &:last-child{
            ion-button{
            --color:white;
            --background:#3b5998;
          }
        }
      }
    }
  }
  .logo-img{
    width: 75%;
    height: 75%;
  }
  .h3c{
    font-weight: bold;
    font-size: 25px;  
  }
  .h2c{
    font-weight: bold;
    
  }
  .header-content{
    padding-top: 20px;
  }
  .button{
    align-items: flex-end;
  }