<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/tracker"></ion-back-button>
    </ion-buttons>
    <ion-title style="color:blue;">My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/my-details']">
      <ion-icon slot="start" name="person"></ion-icon> My Details</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/home']">
      <ion-icon slot="start" name="cloud-upload"></ion-icon> Update E-KYC</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/my-banks']">
      <ion-icon slot="start" name="home"></ion-icon> My Banks</ion-item>
  </ion-list>
 
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/tracker']">
      <ion-icon slot="start" name="analytics"></ion-icon> Application Tracker</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/home']">
      <ion-icon slot="start" name="share"></ion-icon> Refer Now</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/home']">
      <ion-icon slot="start" name="link"></ion-icon> Refer & Earn</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/home']">
      <ion-icon slot="start" name="person"></ion-icon> My Referals</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/home']">
      <ion-icon slot="start" name="lock"></ion-icon> Reset Password</ion-item>
  </ion-list>
  <ion-list class="list">
    <ion-item lines="none" [routerLink]="['/home']">
      <ion-icon slot="start" name="log-out"></ion-icon> Log Out</ion-item>
  </ion-list>
</ion-content>
