<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: blue;">Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="button">
    <ion-button [routerLink]="['/myaccount']">My Account</ion-button>
  </div> loans-->
  <ion-card *ngFor="let item of loans">
    <ion-card-header style="border-bottom: 1px solid blue;">
      <ion-card-title>
       Loan ID : L{{item.id}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>

          <ion-col>
            <h4>Loan Type</h4>
            <h6>{{item.loan_type}}</h6>
          </ion-col>
          <ion-col>
            <h4>Amount</h4>
            <h6>{{item.loan_amount}}/-</h6>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4>Applied On</h4>
            <h6>{{item.created_on }}</h6>
            <!-- <h6>{{item.created_on | date:mediumDate}}</h6> -->
          </ion-col>
          <ion-col>
            <h4>Status</h4>
            <h6 style="color:#f7a40a;" *ngIf="item.status=='init'">{{item.status}}</h6>
            <h6 style="color:red;" *ngIf="item.status=='failed'">{{item.status}}</h6>
            <h6 style="color:green;" *ngIf="item.status=='success'">{{item.status}}</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-row>
      <ion-col size="7" no-padding>
          <ion-button size="small" color="primary" fill="clear">
              <ion-icon name='eye'></ion-icon>
               View
          </ion-button>
      </ion-col>
      <ion-col size="5" no-padding>
          <ion-button color="primary" size="small" fill="clear" (click)="deleteLoan(item)">
              <ion-icon name='trash'></ion-icon>
               Delete
          </ion-button>
      </ion-col>
      <!-- <ion-col size="3" no-padding>
          <ion-button size="small" fill="clear">
              11h ago
          </ion-button>
      </ion-col> -->
  </ion-row>
  </ion-card>

</ion-content>