ion-header{
    ion-segment{
        --color-checked: white !important;
    }
    ion-title{
        color: blue;
    }
}
ion-segment-button.segment-button-checked {
    background: blue;
}
ion-content{
    --padding-bottom: 5px;
    --padding-end: 5px;
    --padding-start: 5px;
    --padding-top: 5px;

    ion-card{
        margin: 5px;
        padding: 10px;
        
        ion-card-content{
            padding:0;   
            
            ion-col{
                &:first-child{
                    text-align: left;
                }
                &:last-child{
                    text-align: right;
                }
           }
           ion-button{
               margin-left: 0;
               margin-right: 0;
           }
        }
    }
}
.content-info{
    // padding: 10px;
    margin: 15px;
}
.box{
    margin-top: 5px;
    border-width: 5px;
    border-style: dashed;
    text-align: center;
}
.icon{
    size: 20px;
    margin-top: 15px;
    align-items: center;
}
.title{
    border-width: 3px;
    border-style: solid;
    margin: 10px;
}