<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: blue;">EMI Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card">
    <ion-card-header>
      <h2 style="text-align: center;">My EMI Wallet</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col class="header-content" size="6">
          <h3>Welcome</h3>
          <h4>to Emi Value</h4>
        </ion-col>
        <ion-col size="6">
          <ion-img class="logo-img" src="/assets/images/logo.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <p>Let me Know the your referrals status.</p>
      </ion-row>
      <ion-card style="box-shadow: 13px 13px 17px rgb(108 158 201);">
        <!-- <ion-card-header style="border-bottom: 1px solid blue;">
          <ion-card-title>
            Refers ID : R{{item.id}}
          </ion-card-title>
        </ion-card-header> -->
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h4>Amount</h4>
              </ion-col>
              <ion-col>
                <h1 style="text-align: right;"> ₹ 2500/-</h1>
              </ion-col>
            </ion-row>
            <hr>
            <ion-row>
              <ion-col>
                <h4>Additional Note</h4>
                <h6>T&C : Use's Of Bonus cash Money While Refering of Two successful Qualified Loan Disbursal Leads.</h6>
                <!-- <h6>{{item.created_on | date:mediumDate}}</h6> -->
              </ion-col>
              <!-- <ion-col>
                <h4>Status</h4>
                <h6 style="color:#f7a40a;" *ngIf="item.status=='init'">{{item.status}}</h6>
                <h6 style="color:red;" *ngIf="item.status=='failed'">{{item.status}}</h6>
                <h6 style="color:green;" *ngIf="item.status=='success'">{{item.status}}</h6>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-card-content>
      
      </ion-card>

    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer no-border>
	<!-- <ion-toolbar transparent> -->
    <ion-button expand="full" (click)="withdraw()">WithDraw Amount</ion-button>
	<!-- </ion-toolbar> -->
</ion-footer>