<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Login Theme One</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-text>
        <h2>Enter the OTP</h2>
    </ion-text>
    <!-- form with input text and submit buttons -->
    <form [formGroup]="Otpform" (ngSubmit)="onSubmit()">
       
        <ion-item>
            <ion-label position="floating">OTP</ion-label>
            <ion-input type="text" formControlName="otp"></ion-input>
        </ion-item>
        <ion-button expand="block" fill="outline" type="submit">Login</ion-button>
        <!-- <ion-button expand="block" fill="outline">Register</ion-button>
        <ion-button expand="block" fill="outline" color="danger">Google</ion-button>
        <ion-button expand="block" fill="outline">facebook</ion-button> -->
    </form>
</ion-content>