<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Basic Details </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <h2 style="text-align: center;">Apply A Loan</h2>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col class="header-content" size="6">
                    <h3>Welcome</h3>
                    <h4>to Emi Value</h4>
                </ion-col>
                <ion-col size="6">
                    <ion-img class="logo-img" src="/assets/images/logo.png"></ion-img>
                </ion-col>
            </ion-row>
            <ion-row>
                <h4>Please enter the basic details </h4>
            </ion-row>
            <br>

            <form [formGroup]="loanregisterform" (ngSubmit)="onSubmit()">
                <!-- <ion-row>
            <ion-col size="12">
                <div>
                    <img src="assets/images/avatar.png" />
                </div>
                <div>
                    <ion-avatar>
                        <ion-icon [ngStyle]="{color:itemColor}" (click)="onFileSelect($event)" name="image"></ion-icon>
                    </ion-avatar>
                </div>
            </ion-col>
        </ion-row> -->
                <ion-row>
                    <ion-col size="12">
                        <ion-list>
                            <ion-item>
                                <ion-label position="floating" class="astertick">Full Name</ion-label>
                                <ion-input type="text" class="formGroup" formControlName="firstname" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['firstname'].valid && loanregisterform.controls['firstname'].touched">Full
                                    Name is Required</span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Date of Birth</ion-label>
                                <ion-input type="date" class="formGroup" placeholder="Date of Birth"
                                    formControlName="birth" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['birth'].valid && loanregisterform.controls['birth'].touched">
                                    Date of Birth is Required</span>
                            </ion-item>
                            <ion-item>
                                <!-- <ion-input type= "text" class="formGroup" placeholder = "Material Status" formControlName = "material_status" required>
                                </ion-input> -->
                                <ion-label position="floating">Material Status</ion-label>
                                <ion-select class="formGroup" formControlName="material_status">
                                    <ion-select-option *ngFor="let sub of marialstaus" value="{{sub}}">{{sub}}
                                    </ion-select-option>

                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating" class="astertick">Company Name</ion-label>
                                <ion-input type="text" class="formGroup" 
                                    formControlName="company" required>
                                </ion-input>
                                <span class="erroi-msg"
                                    *ngIf="!loanregisterform.controls['company'].valid && loanregisterform.controls['company'].touched">
                                    Company Name is Required</span>
                            </ion-item>
                            <ion-item *ngIf="isprofession">
                                <ion-label position="floating" class="astertick">Profession</ion-label>
                                <ion-select class="formGroup" formControlName="profession"
                                    (ionChange)="isProfession($event)">
                                    <ion-select-option *ngFor="let sub of professions" value="{{sub}}">{{sub}}
                                    </ion-select-option>

                                </ion-select>
                            </ion-item>
                            <ion-item *ngIf="isdoctor">
                                <ion-label position="floating" class="astertick">Specialization</ion-label>
                                <ion-select class="formGroup" formControlName="specialization">
                                    <ion-select-option *ngFor="let sub of specialization" value="{{sub}}">{{sub}}
                                    </ion-select-option>

                                </ion-select>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['employee'].valid && loanregisterform.controls['employee'].touched"></span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating" class="astertick">Employee Type</ion-label>
                                <ion-select class="formGroup" formControlName="employee" required>
                                    <ion-select-option *ngFor="let sub of emptype" value="{{sub}}">{{sub}}
                                    </ion-select-option>
                                </ion-select>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['employee'].valid && loanregisterform.controls['employee'].touched"></span>
                            </ion-item>
                            <!-- <ion-item>
                                <ion-input type= "email" class="formGroup" placeholder = "Enter Your E-mail" formControlName = "email" required>
                                </ion-input>
                                <span class="error-msg" *ngIf = "!loanregisterform.controls['email'].valid && loanregisterform.controls['email'].touched"></span>
                            </ion-item>  -->
                            <ion-item>
                                <ion-label position="floating" class="astertick">Net Salary</ion-label>
                                <ion-input type="number" class="formGroup" formControlName="salary" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['salary'].valid && loanregisterform.controls['salary'].touched"></span>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating">Year of Experience</ion-label>
                                <ion-input type="number" class="formGroup" formControlName="experience">
                                </ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label position="floating" class="astertick">Pan Card No</ion-label>
                                <ion-input type="text" class="formGroup" formControlName="pan_no" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['pan_no'].valid && loanregisterform.controls['pan_no'].touched"></span>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" class="astertick">Residential Address</ion-label>
                                <ion-input type="text" class="formGroup" formControlName="address" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['address'].valid && loanregisterform.controls['address'].touched"></span>
                            </ion-item>
                            <ion-item>
                                <!-- <ion-input type="text" class="formGroup" placeholder="Select Your State" formControlName="state"
                            required>
                        </ion-input> -->
                                <ion-label position="floating" class="astertick">State</ion-label>
                                <ion-select class="formGroup" formControlName="state" required
                                    (ionChange)="yourFunction($event)">
                                    <ion-select-option *ngFor="let sub of states" value="{{sub.name}}">{{sub.name}}
                                    </ion-select-option>

                                </ion-select>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['state'].valid && loanregisterform.controls['state'].touched"></span>
                            </ion-item>
                            <ion-item>
                                <!-- <ion-input type= "text" class="formGroup" placeholder = "Select your City" formControlName = "city" required>
                        </ion-input> -->
                                <ion-label position="floating" class="astertick">City</ion-label>
                                <ion-select class="formGroup" formControlName="city" required>
                                    <ion-select-option *ngFor="let sub of cities" value="{{sub.name}}">{{sub.name}}
                                    </ion-select-option>
                                </ion-select>

                            </ion-item>

                            <ion-item>
                                <ion-label position="floating" class="astertick">Enter Your Pincode</ion-label>
                                <ion-input type="number" class="formGroup" formControlName="pincode" required>
                                </ion-input>
                                <span class="error-msg"
                                    *ngIf="!loanregisterform.controls['pincode'].valid && loanregisterform.controls['pincode'].touched"></span>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-button expand="block" type="submit" (click)="onToast()">Save</ion-button>
                    </ion-col>
                </ion-row>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>