<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button expand="block" routerLink="/component-details" routerDirection="backward">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Registration Form of Personal loan </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- form with input text and submit buttons -->


    <!-- <ion-button (click)="openCam()" >Take Photo</ion-button>
    <ion-button (click)="uploadFile()" >Upload</ion-button>
    <img src="{{image}}">
    <br>
    <br> -->

    <form [formGroup]="loanregisterform" (ngSubmit)="onSubmit()">
        <!-- <ion-row>
            <ion-col size="12">
                <div>
                    <img src="assets/images/avatar.png" />
                </div>
                <div>
                    <ion-avatar>
                        <ion-icon [ngStyle]="{color:itemColor}" (click)="onFileSelect($event)" name="image"></ion-icon>
                    </ion-avatar>
                </div>
            </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-col size="12">
                <ion-list>
                    <ion-item>
                       <ion-input type= "text" class="formGroup" placeholder = "First Name" formControlName = "firstname" required>
                       </ion-input>
                       <span class="error-msg" *ngIf = "!loanregisterform.controls['firstname'].valid && loanregisterform.controls['firstname'].touched">Full Name is Required</span>
                    </ion-item>
                    <ion-item>
                        <ion-input type= "date" class="formGroup" placeholder = "Date of Birth" formControlName = "birth" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['birth'].valid && loanregisterform.controls['birth'].touched"> Date of Birth is Required</span>
                     </ion-item>
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Company Name" formControlName = "company" required>
                        </ion-input>
                        <span class="erroi-msg" *ngIf = "!loanregisterform.controls['company'].valid && loanregisterform.controls['company'].touched"> Company Name is Required</span>
                     </ion-item>
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Employee Type" formControlName = "employee" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['employee'].valid && loanregisterform.controls['employee'].touched"></span>
                     </ion-item>
                     <ion-item>
                        <ion-input type= "email" class="formGroup" placeholder = "Enter Your E-mail" formControlName = "email" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['email'].valid && loanregisterform.controls['email'].touched"></span>
                     </ion-item> 
                     <ion-item>
                        <ion-input type= "number" class="formGroup" placeholder = "Net Salary" formControlName = "salary" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['salary'].valid && loanregisterform.controls['salary'].touched"></span>
                     </ion-item>
                     <ion-item>
                        <ion-input type= "number" class="formGroup" placeholder = "Year of Experience" formControlName = "experience" required>
                        </ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Pan Card No" formControlName = "pan_no" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['pan_no'].valid && loanregisterform.controls['pan_no'].touched"></span>
                     </ion-item>
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Material Status" formControlName = "material_status" required>
                        </ion-input>
                     </ion-item> 
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Residential Address" formControlName = "address" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['address'].valid && loanregisterform.controls['address'].touched"></span>
                     </ion-item> 
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Select your City" formControlName = "city" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['city'].valid && loanregisterform.controls['city'].touched"></span>
                     </ion-item> 
                     <ion-item>
                        <ion-input type= "text" class="formGroup" placeholder = "Select Your State" formControlName = "state" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['state'].valid && loanregisterform.controls['state'].touched"></span>
                     </ion-item> 
                     <ion-item>
                        <ion-input type= "number" class="formGroup" placeholder = "Enter Your Pincode" formControlName = "pincode" required>
                        </ion-input>
                        <span class="error-msg" *ngIf = "!loanregisterform.controls['pincode'].valid && loanregisterform.controls['pincode'].touched"></span>
                     </ion-item>
               <br>
               <br>
               <br>
               <br>
               <br>
               <br>
                    </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button expand="block" type="submit" (click) = "onToast()">Save</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>