<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      EmiValue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <!-- <ion-row class="materialAppRow">
      <ion-col no-padding class="materialAppThemeCol" size="12">
        <ion-item style='--background:var(--my-var)'  class="segment" no-padding>
          <ion-segment scrollable>
            <ion-segment-button class="segmentTextBtn">
              <ion-row>
                <ion-col size="6">
                  <p class="materialAppPara">
                    <b>App Themes </b>
                  </p>
                </ion-col>
                <ion-col size="6">
                  <ion-icon class="forward-icon" name="arrow-round-forward"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-segment-button>
            <ion-segment-button class="lightOrangeSegmentBtn">
              <ion-button *ngIf="!visiableBtnAutum" (click)="changeTheme('autumn')" class="lightOrangeBtn"></ion-button>
              <ion-button *ngIf="visiableBtnAutum" (click)="changeTheme('autumn')" class="lightOrangeBtn">
                <ion-icon class="checkmark-icon" name="checkmark" size="large"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="darkBlueSegmentBtn">
              <ion-button *ngIf="!visiableBtnNight" (click)="changeTheme('night')" class="darkBlueBtn"></ion-button>
              <ion-button *ngIf="visiableBtnNight" (click)="changeTheme('night')" class="darkBlueBtn">
                <ion-icon class="checkmark-icon" name="checkmark" size="large"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightPurpleSegmentBtn">
              <ion-button *ngIf="!visiableBtnNeon" (click)="changeTheme('neon')" class="lightPurpleBtn"></ion-button>
              <ion-button *ngIf="visiableBtnNeon" (click)="changeTheme('neon')" class="lightPurpleBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="darkPinkSegmentBtn">
              <ion-button *ngIf="!visiableBtnOriginal" (click)="changeTheme('orginal')" class="darkPinkBtn"></ion-button>
              <ion-button *ngIf="visiableBtnOriginal" (click)="changeTheme('orginal')" class="darkPinkBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="redSegmentBtn">
              <ion-button *ngIf="!visiableBtnRed" (click)="changeTheme('red')" class="redBtn"></ion-button>
              <ion-button *ngIf="visiableBtnRed" (click)="changeTheme('red')" class="redBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="purpleSegmentBtn">
              <ion-button *ngIf="!visiableBtnPurple" (click)="changeTheme('purple')" class="purpleBtn"></ion-button>
              <ion-button *ngIf="visiableBtnPurple" (click)="changeTheme('purple')" class="purpleBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightBlueSegmentBtn">
              <ion-button *ngIf="!visiableBtnLightblue" (click)="changeTheme('Lightblue')" class="lightBlueBtn"></ion-button>
              <ion-button *ngIf="visiableBtnLightblue" (click)="changeTheme('Lightblue')" class="lightBlueBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightGreenSegmentBtn">
              <ion-button *ngIf="!visiableBtnLightgreen" (click)="changeTheme('Lightgreen')" class="lightGreenBtn"></ion-button>
              <ion-button *ngIf="visiableBtnLightgreen" (click)="changeTheme('Lightgreen')" class="lightGreenBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="lightGray1SegmentBtn">
              <ion-button *ngIf="!visiableBtnLightgray" (click)="changeTheme('Lightgray')" class="lightGray1"></ion-button>
              <ion-button *ngIf="visiableBtnLightgray" (click)="changeTheme('Lightgray')" class="lightGray1">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
            <ion-segment-button class="blueSegmentBtn">
              <ion-button *ngIf="!visiableBtnBlue" (click)="changeTheme('blue')" class="blueBtn"></ion-button>
              <ion-button *ngIf="visiableBtnBlue" (click)="changeTheme('blue')" class="blueBtn">
                <ion-icon class="checkmark-icon" name="checkmark"></ion-icon>
              </ion-button>
            </ion-segment-button>
          </ion-segment>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <!-- banners -->
    <!-- <ion-row no-padding>
      <ion-col no-padding>
        <ion-item class="itemSlider">
          <ion-button type="submit" fill="clear" color="light" class="swiper-button-prev swiper-button-white prevBtn"
            (click)="prevSlide()"></ion-button>
          <ion-slides pager="true" class="slides" #IonSlides loop="true">
            <ion-slide *ngFor="let slide of slides; let i=index" class="slide" no-padding>
              <div class="sliderImg">
                <img src="{{slide.image}}" alt="Slide Images" class="img">
              </div>
            </ion-slide>
          </ion-slides>
          <ion-button type="submit" fill="clear" color="light" class="swiper-button-next swiper-button-white nextBtn"
            (click)="nextSlide()"></ion-button>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row style="    padding: 0 25px;">
      <ion-col class="header-content" size="8">
        <h1 style="text-transform: capitalize;">Welcome,
          <br> {{user.full_name}} {{user.last_name}}</h1>
      </ion-col>
      <ion-col size="4">
        <ion-img class="logo-img" src="/assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      
      <ion-col size="6" class="text-center">
        <!-- simple card with icon and text -->
        <ion-card color="success" routerLink="/myaccount" routerDirection="forward">
          <ion-icon name="settings" class="zoom-padd"></ion-icon>
          <ion-text>
            <h2>My Account</h2>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="text-center">
        <!-- simple card with icon and text -->
        <ion-card color="tertiary" routerLink="/form-personal-loan" routerDirection="forward">
          <ion-icon class="zoom-padd" name="add"></ion-icon>
          <ion-text>
            <h2>Apply A Loan</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="text-center">
        <!-- simple card with icon and text -->
        <ion-card color="secondary" routerLink="/tracker" routerDirection="forward">
          <ion-icon class="zoom-padd" name="list"></ion-icon>
          <ion-text>
            <h2>Tracker</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6" class="text-center">
        <!-- simple card with icon and text -->
        <ion-card color="danger" routerLink="/wallet" routerDirection="forward">
          <ion-icon style=" zoom: 3.8;" name="people"></ion-icon>
          <ion-text>
            <p>Bonus Cash Award 2,500/-</p>
            <h2>EMI Wallet</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="6" class="text-center">
        <!-- simple card with icon and text -->
        <ion-card color="warning" routerLink="/refer" routerDirection="forward">
          <ion-icon class="zoom-padd" name="share"></ion-icon>
          <ion-text>
            <h2>Refer A Loan</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="3"></ion-col>

    </ion-row>


    <!-- <ion-row class="" padding>
      <ion-col class="tagCol" size="12" no-padding>
        <ion-row class="rowtag" justify-content-center no-padding>
          <ion-col class="col1Tag" no-padding size="4">
            <ion-card class="tagCard" routerLink="/loan-documnets-upload" routerDirection="forward">
              <img class="imgBgTag" src="assets/images/logos/angular-logo.png" />
              <p class="paraTagCard">ANGULAR</p>
            </ion-card>
          </ion-col>
          <ion-col class="col2Tag" no-padding size="4">
            <ion-card class="tagCard" routerLink="/form-personal-loan" routerDirection="forward">
              <img class="imgBgTag" src="assets/images/applyloan.png" />
              <p class="paraTagCard">Apply Loan</p>
            </ion-card>
          </ion-col>
          <ion-col class="col3Tag" no-padding size="4">
            <ion-card class="tagCard" routerLink="/list-of-upload-files" routerDirection="forward">
              <img class="imgBgTag" src="assets/images/logos/cordova-logo.png" />
              <p class="paraTagCard">CORDOVA</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row> -->

    <ion-row class="rowComp" padding>
      <ion-col class="colComp" size="12" no-padding>
        <ion-card class="card" no-padding routerLink="/component-details" routerDirection="forward">
          <!-- <img class="imgBg" src="assets/images/multi-screens.png" /> -->
          <div [ngStyle]="{'background':itemColor}" no-padding class="themeBg">
          </div>
          <div class="card-title">
            <h1>
              Registration
            </h1>

            <!-- <img src="assets/images/home-content-images/comp.png"> -->
          </div>
        </ion-card>
      </ion-col>
      <!-- <ion-col class="colComp" size="12" no-padding>
        <ion-card no-padding class="card">
          <img class="imgBg" src="assets/images/multi-screens.png" />
          <div no-padding [ngStyle]="{'background':itemColor}" class="themeBgDisable">
          </div>
          <div class="card-title">
            <img class="uiImg" src="assets/images/home-content-images/ui.png">
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12" no-padding>
        <ion-card no-padding class="card">
          <img class="imgBg" src="assets/images/multi-screens.png" />
          <div no-padding [ngStyle]="{'background':itemColor}" class="themeBgDisable">
          </div>
          <div class="card-title">
            <img class="themeImg" src="assets/images/home-content-images/theme.png">
          </div>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <p><b>Get free Rs.2500/- Bonus Cash Money while Easy Register/sign Up.</b>  </p>
      <p>T&C : Use's Of Bonus cash Money While Refering of Two successful Qualified Loan Disbursal Leads.</p>
  </ion-col>
  </ion-row>
</ion-footer>